<nav class="mainNav navbar navbar-expand-md navbar-light flex-column">
  <div class="container mw-100 d-flex">
    <ul class="nav navbar-nav float-left">
      <li class="nav-item float-left">
        <button class="navbar-toggler navbar-toggler-left" type="button" (click)="navbarToggler()" aria-controls="exCollapsingNavbar2"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-logo mx-auto">
      <li class="nav-item">
        <a class="navbar-brand mx-md-auto" href="#">
          <img src="assets/webedia-logo.png" alt="Webedia" height="40px" width="180px">
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav float-right">
      <li class="nav-item mr-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div [ngbCollapse]="isNavbarCollapsed" class="mt-2 col-md-12 collapse navbar-collapse shadow-sm bg-white">
    <ul class="navbar-nav text-center mx-auto">
      <li class="nav-item">
        <span class="nav-link">Notícias em Destaque</span>
      </li>
      <li class="nav-item">
        <span class="nav-link">Notícias do Brasil</span>
      </li>
      <li class="nav-item">
        <span class="nav-link">Notícias dos EUA</span>
      </li>
      <li class="nav-item">
        <span class="nav-link">Notícias da Argentina</span>
      </li>
      <li class="nav-item">
        <span class="nav-link">Notícias da França</span>
      </li>
    </ul>
  </div>
</nav>
<div class="overlay"></div>