<div class="container">
  <div class="row col-md-12">
    <div *ngFor="let new of news.articles; let i = index" [ngClass]="{'col-md-4': (i > 1 && i < 5), 'col-md-6': !(i > 1 && i < 5), 'mt-4': true}">
      <div class="card h-100">
        <img class="card-img-top" src="{{new.urlToImage}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{new.title}}{{i}}</h5>
          <p class="card-text">{{new.description}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>